<nz-page-header [nzGhost]="false" nzBackIcon>
	<nz-page-header-title>Fila</nz-page-header-title>
	<nz-page-header-subtitle>Visualize a fila de execução atual</nz-page-header-subtitle>
	<nz-page-header-content>
		<nz-row nzGutter="16">
			<div nz-col nzSpan="24">
				<h2 class="form-subtitle">
					Processos em andamento
					<strong style="font-size: 12px; font-weight: normal; margin-left: 16px; color: rgba(0, 0, 0, 0.45)"
						>Atualizado em: {{ dateSync | date: 'dd/MM/yyyy HH:mm:ss' }}</strong
					>
				</h2>
			</div>

			@if (queueList.length) {
				<nz-col nzSpan="24">
					<nz-table #dynamicTable [nzData]="queueList" [nzLoading]="isLoading">
						<thead>
							<tr>
								<th nzAlign="center">Código</th>
								<th nzWidth="30%">Automação</th>
								<th nzAlign="center">Status atual</th>
								<th nzAlign="center">Adicionado em</th>
								<th nzAlign="center">Executado em</th>
								<th nzAlign="center">Ações</th>
							</tr>
						</thead>
						<tbody>
							@for (queueItem of dynamicTable.data; track $index) {
								<tr>
									<td nzAlign="center">{{ queueItem.agendamento_id}}</td>
									<td>{{ queueItem.nome }}</td>
									<td nzAlign="center" [style]="'color: ' + ($index == 0 ? '#52c41a' : '#018ef7')">
										@if ($index == 0) {
											<span nz-icon nzType="sync" style="font-size: 16px"></span>
											Executando
										} @else {
											<span nz-icon nzType="clock-circle-o" style="font-size: 16px"></span>
											Aguardando
										}
									</td>
									<td nzAlign="center">
										@if (queueItem.adicionado_em) {
											{{ queueItem.adicionado_em | date: 'dd/MM/yyyy HH:mm' }}
										} @else {
											----
										}
									</td>
									<td nzAlign="center">
										@if (queueItem.executado_em) {
											{{ queueItem.executado_em | date: 'dd/MM/yyyy HH:mm' }}
										} @else {
											----
										}
									</td>
									<td nzAlign="center">
										<a
											nz-button
											nzType="link"
											[nz-tooltip]="$index == 0 ? 'Parar execução' : 'Remover da fila'"
											nz-popconfirm
											[nzPopconfirmTitle]="$index == 0 ? 'Você deseja realmente parar a execução desse item?' : 'Você deseja realmente remover esse item da fila?'"
											(nzOnConfirm)="removeQueueItem(queueItem.id)"
											nzPopconfirmPlacement="topLeft"
											[nzLoading]="isLoadingRemove"
											nzDanger
										>
											<span nz-icon [nzType]="$index == 0 ? 'close-circle' : 'delete'" nzTheme="outline" nzDanger> </span>
										</a>
									</td>
								</tr>
							}
						</tbody>
					</nz-table>
				</nz-col>
			} @else {
				<nz-col nzSpan="24">
					<nz-row nzGutter="16">
						<div nz-col nzSpan="24">
							<nz-empty [nzNotFoundContent]="null" nzNotFoundImage="simple" style="margin-bottom: -20px" />
							<nz-row nzJustify="center">
								<span style="color: rgba(0, 0, 0, 0.25)">Não há automações em execução no momento</span>
							</nz-row>
						</div>
					</nz-row>
				</nz-col>
			}
		</nz-row>
	</nz-page-header-content>
</nz-page-header>
