<nz-page-header [nzGhost]="false" nzBackIcon>
	<nz-page-header-title>Agendamentos</nz-page-header-title>
	<nz-page-header-subtitle>Verifique ou crie novos agendamentos</nz-page-header-subtitle>
	<nz-page-header-extra>
		<nz-space>
			<a nz-button nzType="primary" [routerLink]="['criar']"><span nz-icon nzType="plus" nzTheme="outline"></span>Adicionar</a>
		</nz-space>
	</nz-page-header-extra>
	<nz-page-header-content>
		<nz-table #dynamicTable [nzData]="dataList" [nzLoading]="isLoading">
			<thead>
				<tr>
					<th>Código</th>
					<th>Automação</th>
					<th>Tipo</th>
					<th nzAlign="center">Próxima execução</th>
					<th nzAlign="center">Ações</th>
				</tr>
			</thead>
			<tbody>
				<ng-container *ngFor="let data of dynamicTable.data">
					<tr>
						<td>{{ data.id }}</td>
						<td>{{ data.Automacao.nome }}</td>
						<td>{{ data.TipoAgendamento.nome }}</td>
						<td nzAlign="center">{{ data.proxima_execucao | date: 'dd/MM/yyyy HH:mm' }}</td>
						<td nzAlign="center">
							<a nz-button nzType="link" [routerLink]="['editar/' + data.id]"><span nz-icon nzType="edit" nzTheme="outline"></span></a>
							<nz-divider nzType="vertical"></nz-divider>
							<a
								nz-button
								nzType="link"
								nz-popconfirm
								nzPopconfirmTitle="Você deseja realmente excluir esse agendamento?"
								(nzOnConfirm)="removeSchedule(data.id)"
								nzPopconfirmPlacement="topLeft"
								nzDanger
								><span nz-icon nzType="delete" nzTheme="outline" nzDanger></span
							></a>
						</td>
					</tr>
				</ng-container>
			</tbody>
		</nz-table>
	</nz-page-header-content>
</nz-page-header>
