<form
  nz-form
  nzLayout="vertical"
  nzNoColon
  [formGroup]="contractTypesForm"
  (ngSubmit)="handleSubmit(contractTypesForm.value)"
>
  <nz-row nzGutter="16">
    <nz-col nzSpan="24">
      <nz-form-item>
        <nz-form-label>Tipo do contrato</nz-form-label>
        <nz-form-control
          nzErrorTip="Por favor, insira o nome do tipo de contrato"
        >
          <input
            nz-input
            formControlName="nome"
            placeholder="Digite o nome do tipo de contrato"
          />
        </nz-form-control>
      </nz-form-item>
    </nz-col>

    <nz-col>
      <nz-form-item>
        <nz-form-control>
          <label nz-checkbox formControlName="ativo">Ativo</label>
        </nz-form-control>
      </nz-form-item>
    </nz-col>
  </nz-row>

  <div nz-row nzJustify="end" nzAlign="middle" nzGutter="16">
    <div nz-col>
      <button
        nz-button
        type="button"
        nzType="default"
        (click)="modalRef.close()"
      >
        Cancelar
      </button>
    </div>
    <div nz-col>
      <button
        nz-col
        nz-button
        nzType="primary"
        [disabled]="!contractTypesForm.valid"
        [nzLoading]="isSaving"
      >
        {{ nzData.tipo_contrato_id ? "Atualizar" : "Cadastrar" }}
      </button>
    </div>
  </div>
</form>
