@if (errorList && errorList.length) {
<div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" style="margin-bottom: 16px; border-radius: 2px">
	@for (error of errorList; track error) {
	<nz-alert nzType="error" [nzMessage]="error" nzShowIcon></nz-alert>
	}
</div>
}

<nz-table #dynamicTable [nzData]="page[indexPage]" [nzLoading]="isLoading" [nzNoResult]="emptyList">
	<thead>
		<tr>
			@if (nzData.isModal) {
			<th [(nzChecked)]="allChecked" [nzIndeterminate]="indeterminate" (nzCheckedChange)="checkAll($event)"></th>
			}
			<th>Código</th>
			<th>Label</th>
			<th>Tipo</th>
			<th>Data da criação</th>
			<th nzAlign="center">Status</th>
			@if (!nzData.isModal) {
			<th nzAlign="center">Ações</th>
			}
		</tr>
	</thead>
	<tbody>
		@for (data of dynamicTable.data; track $index) {
		<tr>
			<td [(nzChecked)]="!!data.checked" (nzCheckedChange)="refreshStatus(data.id, data.checked)"></td>

			<td>{{ data.id }}</td>
			<td>{{ data.label }}</td>
			<td>{{ data.tipo_input }}</td>
			<td>{{ data.created_at | date : 'dd/MM/yyyy' }}</td>
			<td nzAlign="center">
				<nz-tag [nzColor]="data.ativo ? 'success' : 'default'">
					<span nz-icon [nzType]="data.ativo ? 'check-circle' : 'stop'"></span>
					<span>{{ data.ativo ? 'ATIVO' : 'INATIVO' }}</span>
				</nz-tag>
			</td>
		</tr>
		}@if(dynamicTable.data.length) {
		<tr>
			<td colspan="7" style="text-align: right">
				<button nz-button nzType="default" type="button" nz-tooltip nzTooltipTitle="Adiciona um novo campo" (click)="showModalAddField()">
					<span nz-icon nzType="plus" nzTheme="outline"></span>
					Adicionar
				</button>
			</td>
		</tr>
		}
	</tbody>
</nz-table>

<ng-template #emptyList>
	<nz-row nzAlign="middle" nzJustify="center">
		<div nz-col nzSpan="24" style="margin: 12px 0; justify-content: center">
			<nz-empty [nzNotFoundContent]="null" nzNotFoundImage="simple" style="margin-bottom: -20px" />
			<span style="color: rgba(0, 0, 0, 0.25)">Não há dados</span>
		</div>
		<div nz-col nzSpan="24">
			<button nz-button nzType="default" type="button" nz-tooltip nzTooltipTitle="Adiciona um novo campo" (click)="showModalAddField()">
				<span nz-icon nzType="plus" nzTheme="outline"></span>
				Adicionar
			</button>
		</div>
	</nz-row>
</ng-template>
