<nz-page-header [nzGhost]="false" nzBackIcon>
  <nz-page-header-title>Tipos de documentos</nz-page-header-title>
  <nz-page-header-subtitle>Verifique ou crie novos tipos de documentos</nz-page-header-subtitle>
  <nz-page-header-extra>
    <nz-space>
      <button nz-button nzType="primary" (click)="showModal()">
        <span nz-icon nzType="plus" nzTheme="outline"></span>Cadastrar
      </button>
    </nz-space>
  </nz-page-header-extra>
  <nz-page-header-content>
    <nz-table #dynamicTable [nzData]="dataList" [nzLoading]="isLoading">
      <thead>
        <tr>
          <th>Código</th>
          <th>Nome</th>
          <th nzAlign="center">Status</th>
          <th nzAlign="center">Ações</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let data of dynamicTable.data">
          <tr>
            <td>{{ data.id }}</td>
            <td>{{ data.nome }}</td>
            <td nzAlign="center">
              <nz-tag [nzColor]="data.ativo ? 'success' : 'default'">
                <span nz-icon [nzType]="data.ativo ? 'check-circle' : 'stop'"></span>
                <span>{{ data.ativo ? "ATIVO" : "INATIVO" }}</span>
              </nz-tag>
            </td>
            <td nzAlign="center">
              <a z-button nzType="link" (click)="showModal(data)"><span nz-icon nzType="edit"
                  nzTheme="outline"></span></a>
              <nz-divider nzType="vertical"></nz-divider>
              <a nz-button nzType="link" nz-popconfirm
                nzPopconfirmTitle="Você deseja realmente excluir esse tipo de documento?"
                (nzOnConfirm)="removeDocumentType(data.id)" nzPopconfirmPlacement="topLeft" nzDanger><span nz-icon
                  nzType="delete" nzTheme="outline" nzDanger></span></a>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </nz-table>
  </nz-page-header-content>
</nz-page-header>