<form nz-form nz-row nzGutter="16" [formGroup]="customFieldsForm" nzLayout="vertical">
	@if (errorList && errorList.length) {
	<div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" style="margin-bottom: 16px; border-radius: 2px">
		@for (error of errorList; track error) {
		<nz-alert nzType="error" [nzMessage]="error" nzShowIcon></nz-alert>
		}
	</div>
	}

	<div nz-col nzSm="24" nzMd="24" nzLg="24">
		<h2 class="form-subtitle">Configurar o campo</h2>
	</div>

	<div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12">
		<nz-form-item>
			<nz-form-label nzRequired nzErrorTip="Por favor preencha o campo">Elemento</nz-form-label>
			<nz-form-control [nzValidateStatus]="getFormControlValidationStatus('elemento')" nzErrorTip="Por favor preencha o campo">
				<nz-select formControlName="elemento" name="value" nzPlaceHolder="Selecione o elemento" nzAllowClear>
					<nz-option *ngFor="let elemento of elementos" [nzValue]="elemento.value" [nzLabel]="elemento.label"></nz-option>
				</nz-select>
			</nz-form-control>
		</nz-form-item>
	</div>

	<div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12">
		<nz-form-item>
			<nz-form-label nzRequired nzErrorTip="Por favor preencha o campo">Nome</nz-form-label>
			<nz-form-control nzErrorTip="Por favor preencha o campo">
				<input nz-input formControlName="label" placeholder="Digite o nome do campo" />
			</nz-form-control>
		</nz-form-item>
	</div>

	<div nz-col nzXs="24" nzSm="24" nzMd="22" nzLg="22">
		<nz-form-item>
			<nz-form-label nzRequired>Informativo</nz-form-label>
			<nz-form-control>
				<input nz-input formControlName="tooltip" placeholder="Digite o texto informativo" />
			</nz-form-control>
		</nz-form-item>
	</div>

	<div nz-col nzXs="12" nzSm="12" nzMd="2" nzLg="2">
		<nz-form-item>
			<nz-form-label style="text-align: center" nzRequired>Ativo</nz-form-label>
			<nz-form-control style="text-align: center">
				<label nz-checkbox formControlName="ativo"></label>
			</nz-form-control>
		</nz-form-item>
	</div>

	<div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12">
		<nz-form-item>
			<nz-form-label nzRequired>Placeholder</nz-form-label>
			<nz-form-control>
				<input nz-input formControlName="placeholder" placeholder="Digite o placeholder" />
			</nz-form-control>
		</nz-form-item>
	</div>

	<div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12">
		<nz-form-item>
			<nz-form-label nzRequired>Mensagem de validação</nz-form-label>
			<nz-form-control>
				<input nz-input formControlName="mensagem_validacao" placeholder="Digite a mensagem de validação" />
			</nz-form-control>
		</nz-form-item>
	</div>

	@if (customFieldsForm.get('elemento')?.value == 'input') {
	<div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12">
		<nz-form-item>
			<nz-form-label nzRequired>Tipo de campo</nz-form-label>
			<nz-form-control>
				<nz-select formControlName="tipo_input" name="value" nzPlaceHolder="Selecione o elemento" nzAllowClear>
					<nz-option *ngFor="let input of inputTypes" [nzValue]="input.value" [nzLabel]="input.label"></nz-option>
				</nz-select>
			</nz-form-control>
		</nz-form-item>
	</div>
	} @if (customFieldsForm.get('elemento')?.value == 'select') {

	<div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12">
		<nz-form-item>
			<nz-form-label nzRequired>Opções</nz-form-label>
			<nz-select
				nzMode="tags"
				nzPlaceHolder="Digite as opções"
				[(ngModel)]="listOfTagOptions"
				[ngModelOptions]="{ standalone: true }"
				(ngModelChange)="optionChange($event)"
				[nzTokenSeparators]="[',', ';']"
			>
				<nz-option *ngFor="let option of listOfOption" [nzLabel]="option.value" [nzValue]="option.value"></nz-option>
			</nz-select>
		</nz-form-item>
	</div>

	<div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12">
		<nz-form-item>
			<nz-form-label>Valor Padrão</nz-form-label>
			<nz-form-control>
				<nz-select nzMode="default" nzPlaceHolder="Selecione o valor padrão" formControlName="valor_padrao">
					<nz-option *ngFor="let option of listOfTagOptions" [nzLabel]="option" [nzValue]="option"></nz-option>
				</nz-select>
			</nz-form-control>
		</nz-form-item>
	</div>
	} @if(customFieldsForm.get('elemento')?.value == 'input'){
	<div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12">
		<nz-form-item>
			<nz-form-label style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis" nzRequired>Máximo de caracteres</nz-form-label>
			<nz-form-control>
				<input nz-input formControlName="caracteres_max" type="number" placeholder="Ex: 255" />
			</nz-form-control>
		</nz-form-item>
	</div>
	}
</form>
