<nz-page-header [nzGhost]="false" nzBackIcon>
	<nz-page-header-title>Automações</nz-page-header-title>
	<nz-page-header-subtitle>Verifique ou crie novas automações</nz-page-header-subtitle>
	<nz-page-header-extra>
		@if (profile?.admin) {
			<nz-space>
				<a nz-button nzType="primary" [routerLink]="['criar']"><span nz-icon nzType="plus" nzTheme="outline"></span>Cadastrar</a>
			</nz-space>
		}
	</nz-page-header-extra>
	<nz-page-header-content>
		<nz-table #dynamicTable [nzData]="dataList" [nzLoading]="isLoading">
			<thead>
				<tr>
					<th>Código</th>
					<th>Nome da automação</th>
					<th nzAlign="center">Criado em</th>
					<th nzAlign="center">Ações</th>
				</tr>
			</thead>
			<tbody>
				<ng-container *ngFor="let data of dynamicTable.data">
					<tr>
						<td>{{ data.id }}</td>
						<td>{{ data.nome }}</td>
						<td nzAlign="center">{{ data.criado_em | date: 'dd/MM/yyyy' }}</td>
						<td nzAlign="center">
							<a nz-button nzType="link" [routerLink]="['editar/' + data.id]"><span nz-icon nzType="edit" nzTheme="outline"></span></a>
							<nz-divider nzType="vertical"></nz-divider>
							<a
								nz-button
								nzType="link"
								nz-popconfirm
								nzPopconfirmTitle="Todos os agendamentos para essa automação serão cancelados. Você deseja realmente excluir essa automação?"
								(nzOnConfirm)="removeAutomation(data.id)"
								nzPopconfirmPlacement="topLeft"
								nzDanger
								><span nz-icon nzType="delete" nzTheme="outline" nzDanger></span
							></a>
						</td>
					</tr>
				</ng-container>
			</tbody>
		</nz-table>
	</nz-page-header-content>
</nz-page-header>
