<div>
	<nz-upload
		[class]="type == 'file' ? 'upload-list-inline' : 'avatar-uploader'"
		[nzName]="type"
		[nzListType]="type == 'file' ? 'picture' : 'picture-card'"
		[(nzFileList)]="fileList"
		[nzAccept]="type == 'file' ? 'image/*, .pdf' : 'image/*'"
		[nzBeforeUpload]="beforeUpload"
		[nzShowUploadList]="type == 'file' ? true : false"
		[nzFileListRender]="type == 'file' ? tplRenderList : null"
		nzMultiple="true"
	>
		<ng-container *ngIf="type == 'avatar'">
			<ng-container *ngIf="!avatarUrl">
				<span class="upload-icon" nz-icon [nzType]="isLoading ? 'loading' : 'plus'"></span>
				<div class="ant-upload-text">Anexar foto</div>
			</ng-container>
			<img *ngIf="avatarUrl" [src]="avatarUrl" style="width: 100%" />
		</ng-container>

		<ng-container *ngIf="type == 'file'">
			<button
				#button
				nz-button
				nzGhost
				nzType="primary"
				type="button"
				[nzLoading]="isLoading"
				[disabled]="this.max != null && this.fileList.length >= this.max"
			>
				<span>
					<span nz-icon nzType="paper-clip"></span>
					Anexar arquivo
				</span>
			</button>
		</ng-container>
	</nz-upload>
</div>

<ng-template #tplRenderList let-files>
	<nz-list [nzBordered]="false" nzSize="small">
		<nz-list-item *ngFor="let item of files; let i = index">
			<nz-list-item-meta [nzAvatar]="item.type.includes('image') ? tplImg : tplFile">
				<nz-list-item-meta-title nz-typography nzEllipsis>
					<span>{{ item.name }}</span>
				</nz-list-item-meta-title>
			</nz-list-item-meta>
			<ng-container [ngTemplateOutlet]="tplDesc" [ngTemplateOutletContext]="{ $implicit: i }"></ng-container>
			<nz-list-item-extra>
				<div style="width: 60px; display: flex; justify-content: center">
					<button nz-button nzType="link" nzDanger nzSize="small" nzBlock (click)="removeFile(i)">
						<span nz-icon nzType="delete" nzTheme="outline"></span>
					</button>
				</div>
			</nz-list-item-extra>
		</nz-list-item>
	</nz-list>
</ng-template>

<ng-template #tplImg>
	<span nz-icon nzType="picture" nzTheme="outline"></span>
</ng-template>

<ng-template #tplFile>
	<span nz-icon nzType="file" nzTheme="outline"></span>
</ng-template>

<ng-template #tplDesc let-index>
	<div style="width: 60%; padding: 0 0.4em">
		<textarea rows="1" [(ngModel)]="descricaoList[index]" nz-input nzBlock id="descricao" placeholder="Descrição"></textarea>
	</div>
</ng-template>
