<nz-page-header [nzGhost]="false" nzBackIcon>
	<nz-page-header-title>Campos personalizados</nz-page-header-title>
	<nz-page-header-subtitle>Verifique ou crie novos campos</nz-page-header-subtitle>

	<nz-page-header-extra>
		<nz-space>
			<button nz-button nzType="primary" (click)="showModal()"><span nz-icon nzType="plus" nzTheme="outline"></span>Cadastrar</button>
		</nz-space>
	</nz-page-header-extra>

	<nz-page-header-content>
		<nz-table #dynamicTable [nzData]="page[indexPage]" [nzLoading]="isLoading" [nzPageSize]="20" [nzTotal]="total" (nzPageIndexChange)="paginate($event)">
			<thead>
				<tr>
					<th>Código</th>
					<th>Nome</th>
					<th>Tipo</th>
					<th>Data da criação</th>
					<th nzAlign="center">Status</th>
					<th nzAlign="center">Ações</th>
				</tr>
			</thead>
			<tbody>
				@for (data of dynamicTable.data; track $index) {
				<tr>
					<td>{{ data.id }}</td>
					<td>{{ data.label }}</td>
					<td>{{ data.elemento == 'input' ? 'Campo de texto' : 'Lista de seleção' }}</td>
					<td>{{ data.created_at | date : 'dd/MM/yyyy' }}</td>
					<td nzAlign="center">
						<nz-tag [nzColor]="data.ativo ? 'success' : 'default'">
							<span nz-icon [nzType]="data.ativo ? 'check-circle' : 'stop'"></span>
							<span>{{ data.ativo ? 'ATIVO' : 'INATIVO' }}</span>
						</nz-tag>
					</td>

					<td nzAlign="center">
						<a z-button nzType="link" (click)="showModal(data)"><span nz-icon nzType="edit" nzTheme="outline"></span></a>
						<nz-divider nzType="vertical"></nz-divider>
						<a
							nz-button
							nzType="link"
							nz-popconfirm
							nzPopconfirmTitle="Você deseja realmente excluir esse campo?"
							(nzOnConfirm)="removeCustomField(data.id)"
							nzPopconfirmPlacement="topLeft"
							nzDanger
							><span nz-icon nzType="delete" nzTheme="outline" nzDanger></span
						></a>
					</td>
				</tr>
				}
			</tbody>
		</nz-table>
	</nz-page-header-content>
</nz-page-header>
