<nz-page-header [nzGhost]="false" nzBackIcon>
  <nz-page-header-title>Tipos de contrato</nz-page-header-title>
  <nz-page-header-subtitle>Verifique ou crie novos tipos de contrato</nz-page-header-subtitle>
  <nz-page-header-extra>
    <nz-space>
      <button nz-button nzType="primary" (click)="showCreateModal()">
        <span nz-icon nzType="plus" nzTheme="outline"></span>Cadastar
      </button>
    </nz-space>
  </nz-page-header-extra>
  <nz-page-header-content>
    <nz-table #dynamicTable [nzData]="tiposContrato" [nzLoading]="isLoading" nzShowPagination [nzPageSize]="20"
      (nzPageIndexChange)="paginate($event)" [nzTotal]="totalRegistros" [nzFrontPagination]="false"
      [nzLoading]="isLoading" nzPaginationType="small">
      <thead>
        <tr>
          <th>Código</th>
          <th>Nome</th>
          <th nzAlign="center">Status</th>
          <th nzAlign="center">Ações</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let data of dynamicTable.data">
          <tr>
            <td>{{ data.id }}</td>
            <td>{{ data.nome }}</td>
            <td nzAlign="center">
              <nz-tag [nzColor]="data.ativo ? 'success' : 'default'">
                <span nz-icon [nzType]="data.ativo ? 'check-circle' : 'stop'"></span>
                <span>{{ data.ativo ? "ATIVO" : "INATIVO" }}</span>
              </nz-tag>
            </td>
            <td nzAlign="center">
              <a z-button nzType="link" (click)="showCreateModal(data.id)">
                <span nz-icon nzType="edit" nzTheme="outline"></span>
              </a>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </nz-table>
  </nz-page-header-content>
</nz-page-header>