<nz-page-header [nzGhost]="false" nzBackIcon>
	<nz-page-header-title>{{ action }} formulário personalizado</nz-page-header-title>
	<nz-page-header-subtitle>Crie ou edite um formulário personalizado</nz-page-header-subtitle>
	<nz-page-header-extra> </nz-page-header-extra>
	<nz-page-header-content>
		<form nz-form nz-row nzGutter="16" [formGroup]="customFormsForm" nzLayout="vertical" (ngSubmit)="handleSubmit()">
			@if (errorList && errorList.length) {
			<div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" style="margin-bottom: 16px; border-radius: 2px">
				@for (error of errorList; track error) {
				<nz-alert nzType="error" [nzMessage]="error" nzShowIcon></nz-alert>
				}
			</div>
			}

			<div nz-col nzSm="24" nzMd="24" nzLg="24">
				<h2 class="form-subtitle">Informações</h2>
			</div>

			<div nz-col nzXs="24" nzSm="24" nzMd="20" nzLg="20">
				<nz-form-item>
					<nz-form-label>Nome</nz-form-label>
					<nz-form-control nzErrorTip="Por favor preencha o nome">
						<input nz-input formControlName="nome" placeholder="Digite o nome que identifica o formulário" />
					</nz-form-control>
				</nz-form-item>
			</div>

			<div nz-col nzXs="12" nzSm="12" nzSpan="2" nzLg="2">
				<nz-form-item>
					<nz-form-label>Ativo</nz-form-label>
					<nz-form-control>
						<label nz-checkbox formControlName="ativo"></label>
					</nz-form-control>
				</nz-form-item>
			</div>

			@if (customForm && customForm.id) {
			<div nz-col nzSm="24" nzMd="24" nzLg="24">
				<h2 class="form-subtitle">Campos</h2>
			</div>

			<div nz-col nzSm="24" nzMd="24" nzLg="24">
				<nz-table #dynamicTable [nzData]="customForm.formulario_has_campos" [nzLoading]="isLoading" [nzNoResult]="emptyList" nzSize="small">
					<thead>
						<tr>
							<th>Nome</th>
							<th>Tipo</th>
							<th nzAlign="center">Status</th>
							<th nzAlign="center">Ações</th>
						</tr>
					</thead>
					<tbody>
						@for (data of dynamicTable.data; track $index) {
						<tr>
							<td>{{ data.campo_personalizado.label }}</td>
							<td>{{ data.campo_personalizado.elemento === 'input' ? 'Entrada de texto' : 'Lista de seleção' }}</td>
							<td nzAlign="center">
								<nz-tag [nzColor]="data.campo_personalizado.ativo ? 'success' : 'default'">
									<span nz-icon [nzType]="data.campo_personalizado.ativo ? 'check-circle' : 'stop'"></span>
									<span>{{ data.campo_personalizado.ativo ? 'ATIVO' : 'INATIVO' }}</span>
								</nz-tag>
							</td>
							<td nzAlign="center">
								<a
									nz-button
									nzType="link"
									nz-popconfirm
									nzPopconfirmTitle="Você deseja realmente excluir esse campo do formulário?"
									(nzOnConfirm)="removeCustomField(data.campo_personalizado.id)"
									nzPopconfirmPlacement="topLeft"
									nzDanger
									><span nz-icon nzType="delete" nzTheme="outline" nzDanger></span
								></a>
							</td>
						</tr>
						} @if(dynamicTable.data.length) {
						<tr>
							<td colspan="4" style="text-align: right">
								<button
									nz-button
									nzType="default"
									type="button"
									nz-tooltip
									nzTooltipTitle="Adiciona um novo campo"
									(click)="showModalAddField()"
								>
									<span nz-icon nzType="plus" nzTheme="outline"></span>
									Adicionar
								</button>
							</td>
						</tr>
						}
					</tbody>
				</nz-table>
				<ng-template #emptyList>
					<nz-row nzAlign="middle" nzJustify="center">
						<div nz-col nzSpan="24" style="margin: 12px 0; justify-content: center">
							<nz-empty [nzNotFoundContent]="null" nzNotFoundImage="simple" style="margin-bottom: -20px" />
							<span style="color: rgba(0, 0, 0, 0.25)">Não há dados</span>
						</div>
						<div nz-col nzSpan="24">
							<button nz-button nzType="default" type="button" nz-tooltip nzTooltipTitle="Adiciona um novo campo" (click)="showModalAddField()">
								<span nz-icon nzType="plus" nzTheme="outline"></span>
								Adicionar
							</button>
						</div>
					</nz-row>
				</ng-template>
			</div>

			<div nz-col nzXs="24" nzSm="24" nzMd="2" nzLg="2" nzOffset="22">
				<nz-form-item nzJustify="end">
					<nz-form-label></nz-form-label>
					<button nz-button nzType="primary" [disabled]="!customFormsForm.valid" [nzLoading]="isLoading">Atualizar</button>
				</nz-form-item>
			</div>

			}@else{
			<div nz-col nzXs="24" nzSm="24" nzMd="2" nzLg="2">
				<nz-form-item nzJustify="end">
					<nz-form-label></nz-form-label>
					<button nz-button nzType="primary" [disabled]="!customFormsForm.valid" [nzLoading]="isLoading">Cadastrar</button>
				</nz-form-item>
			</div>
			}
		</form>
	</nz-page-header-content>
</nz-page-header>
