<nz-table [nzShowPagination]="false" [nzData]="responsaveis" nzSize="small" *ngIf="responsaveis.length">
	<thead>
		<tr>
			<th scope="col">Nome</th>
			<th scope="col">Cargo</th>
			<th scope="col">Telefone</th>
			<th scope="col">Ramal</th>
			<th scope="col">WhatsApp</th>
			<th scope="col">E-mail</th>
			<th scope="col">Departamento</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let reponsavel of responsaveis">
			<td>{{ reponsavel.pessoa.nome }}</td>
			<td>{{ reponsavel.empresas[0].cargo?.nome }}</td>
			<td>{{ returnCelphoneContactType(reponsavel.pessoa.contatos)?.contato || 'N/A' }}</td>
			<td>{{ returnRamalContactType(reponsavel.pessoa.contatos)?.contato || 'N/A' }}</td>
			<td>{{ returnWhatsappContactType(reponsavel.pessoa.contatos)?.contato || 'N/A' }}</td>
			<td>{{ reponsavel.email }}</td>
			<td *ngIf="reponsavel.departamentos.length">
				{{ reponsavel.departamentos[0].departamento.nome }} ({{ reponsavel.departamentos[0].departamento.filial.nome }})
			</td>
			<td *ngIf="!reponsavel.departamentos.length">Vinculado na carteira</td>
		</tr>
	</tbody>
</nz-table>

<ng-container *ngIf="!responsaveis.length"> Não possui responsáveis cadastrados </ng-container>
