<li nz-list-item *ngIf="file">
  <ul nz-list-item-actions >
    <nz-list-item-action style="opacity: 0.3">
      <a class="primary-font-color" nz-button nzType="text" [href]="file.url">
        <span nz-icon nzType="download" nzTheme="outline"></span>
      </a>
      <a
        *ngIf="canEdit"
        nz-button
        (click)="changeFile(file.id)"
        nzType="text"
        [ngStyle]="{
          transform: file.status === 'removed' ? 'scaleX(-1)' : 'scaleX(1)',
          color: file.status === 'removed' ? 'green' : ''
        }"
        [nzDanger]="file.status !== 'removed'"
      >
        <span
          nz-icon
          [nzType]="file.status === 'removed' ? 'history' : 'delete'"
          nzTheme="outline"
        ></span>
      </a>
    </nz-list-item-action>
  </ul>
  <span [ngClass]="{ disabled: file.status === 'removed' }">
    {{ file.nome }}
    <em>
      {{ file.descricao != "" ? " - " + file.descricao : "" }}
    </em>
  </span>
</li>
