<form *ngIf="!isLoading" nz-form nzLayout="vertical" nzNoColon [formGroup]="userForm" (ngSubmit)="submitForm()">
	<nz-row nzGutter="16">
		<ng-container *ngFor="let error of errorList">
			<nz-col nzSpan="24">
				<nz-alert
					style="margin-bottom: 12px"
					nzShowIcon
					nzType="error"
					nzCloseable
					nzMessage="{{ error }}"
					(nzOnClose)="closeErrorAlert(error)"
				></nz-alert>
			</nz-col>
		</ng-container>

		<nz-col nzSpan="24">
			<nz-form-item>
				<nz-form-label nzRequired>Nome completo</nz-form-label>
				<nz-form-control nzErrorTip="Por favor, insira o nome">
					<input nz-input formControlName="nome" placeholder="Nome" />
				</nz-form-control>
			</nz-form-item>
		</nz-col>

		<nz-col nzSpan="12">
			<nz-form-item>
				<nz-form-label nzRequired>Nome usuário</nz-form-label>
				<nz-form-control nzErrorTip="Por favor, insira o nome de usuário">
					<input nz-input formControlName="usuario" [pattern]="userPattern" (change)="validateUserName()" placeholder="Digite o nome de usuário" />
				</nz-form-control>
			</nz-form-item>
		</nz-col>

		<nz-col nzSpan="12">
			<nz-form-item>
				<nz-form-label [nzRequired]="!nzData.userId">Senha</nz-form-label>
				<nz-form-control nzErrorTip="Por favor, insira a senha">
					<nz-input-group [nzSuffix]="suffixTemplate">
						<input
							[type]="passwordVisible ? 'text' : 'password'"
							nz-input
							placeholder="input password"
							formControlName="senha"
							placeholder="Digite a senha"
						/>
					</nz-input-group>
				</nz-form-control>
			</nz-form-item>

			<ng-template #suffixTemplate>
				<span
					nz-icon
					[ngStyle]="{ color: '#1890ff' }"
					[nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
					(click)="passwordVisible = !passwordVisible"
				></span>
			</ng-template>
		</nz-col>

		
		<nz-col nzSpan="12">
			<nz-form-item>
				<nz-form-label></nz-form-label>
				<label nz-checkbox formControlName="admin">
					<span nz-tooltip="Usuário tem permissão de administrador">Possui permissão de admininstrador</span></label
				>
			</nz-form-item>
		</nz-col>

		<nz-col>
			<nz-form-item nzAlign="top">
				<nz-form-label></nz-form-label>
				<label nz-checkbox formControlName="ativo"> <span nz-tooltip="Status do usuário">Ativo</span></label>
			</nz-form-item>
		</nz-col>
	</nz-row>

	<div nz-row nzJustify="end" nzGutter="16">
		<div nz-col>
			<button nz-button nzType="default" type="button" (click)="closeModal()">Cancelar</button>
		</div>
		<div nz-col>
			<button nz-button nzType="primary" [disabled]="!userForm.valid"><span nz-icon nzType="save" nzTheme="outline"></span>Salvar</button>
		</div>
	</div>
</form>

<div *ngIf="isLoading">
	<nz-skeleton [nzActive]="true"> </nz-skeleton>
	<nz-skeleton [nzActive]="true"> </nz-skeleton>
</div>
