<nz-page-header [nzGhost]="false" nzBackIcon>
	<nz-page-header-title>{{ automationDetails ? 'Editar' : 'Cadastrar' }}</nz-page-header-title>
	<nz-page-header-subtitle>{{ automationDetails ? 'Atualize os dados da sua automação' : 'Crie novas automaçoes' }}</nz-page-header-subtitle>
	<nz-page-header-content>
		<form nz-form nzLayout="vertical" nzNoColon [formGroup]="automationForm" (ngSubmit)="handleSubmit()">
			<nz-row nzGutter="16">
				<ng-container *ngIf="errorList?.length">
					@for (error of errorList; track $index) {
						<nz-col nzSpan="24">
							<nz-alert
								style="margin-bottom: 12px"
								nzShowIcon
								nzType="error"
								nzCloseable
								nzMessage="{{ error }}"
								(nzOnClose)="closeErrorAlert(error)"
							></nz-alert>
						</nz-col>
					}
				</ng-container>

				<div nz-col nzSpan="24">
					<h2 class="form-subtitle">Informações</h2>
				</div>

				<nz-col nzSpan="24">
					<nz-form-item>
						<nz-form-label nzRequired>Nome da automação</nz-form-label>
						<nz-form-control nzErrorTip="Por favor, insira o nome do automação">
							<input nz-input formControlName="nome" placeholder="Digite o nome do automação" />
						</nz-form-control>
					</nz-form-item>
				</nz-col>

				@if (automationDetails) {
					<nz-col nzSpan="24" style="margin-bottom: 16px">
						<nz-alert
							nzType="warning"
							nzMessage="Atenção"
							nzDescription="Se não houver alterações nos arquivos da automação, não é necessário reenviá-los. Mas, se algum arquivo for modificado, envie o arquivo da automação e todos os arquivos complementares."
							nzShowIcon
						></nz-alert>
					</nz-col>
				}

				<nz-col nzSpan="12">
					<nz-form-item>
						<nz-form-label [nzRequired]="!automationDetails">Arquivo da automação</nz-form-label>
						<nz-form-control nzErrorTip="Por favor, insira o arquivo da automação">
							<nz-upload [(nzFileList)]="fileList" [nzBeforeUpload]="beforeUpload">
								<button nz-button type="button">
									<span nz-icon nzType="upload"></span>
									@if (!automationDetails) {
										Selecione o arquivo
									} @else {
										Alterar arquivo
									}
								</button>
							</nz-upload>
						</nz-form-control>
					</nz-form-item>
				</nz-col>

				<nz-col nzSpan="12">
					<nz-form-item>
						<nz-form-label>Arquivos de complemento</nz-form-label>
						<nz-form-control nzErrorTip="Por favor, insira os arquivos de complemento da automação">
							<nz-upload [(nzFileList)]="complementFileList" [nzBeforeUpload]="beforeComplementUpload" nzMultiple>
								<button nz-button type="button">
									<span nz-icon nzType="upload"></span>
									@if (!automationDetails) {
										Selecione o(s) arquivo(s)
									} @else {
										Alterar arquivos
									}
								</button>
							</nz-upload>
						</nz-form-control>
					</nz-form-item>
				</nz-col>

				<nz-col nzSpan="24" style="margin-top: 16px">
					<nz-row nzJustify="space-between">
						<h2 class="form-subtitle">Parâmetros</h2>
						<button nz-button nzType="primary" type="button" (click)="addParameter()">
							<span nz-icon nzType="plus" nzTheme="outline"></span>Adicionar
						</button>
					</nz-row>
				</nz-col>

				@if (parametersList.length) {
					@for (parameter of parametersList; track $index) {
						<nz-col nzSpan="12">
							<nz-form-item>
								<nz-form-label nzRequired>Nome do parâmetro</nz-form-label>
								<nz-form-control nzErrorTip="Por favor, insira o nome do parâmetro">
									<input
										nz-input
										[(ngModel)]="parametersList[$index].nome"
										[ngModelOptions]="{ standalone: true }"
										placeholder="Digite o nome do parâmetro"
									/>
								</nz-form-control>
							</nz-form-item>
						</nz-col>

						<nz-col [nzSpan]="[2, 9].includes(parametersList[$index].tipo_parametro_id) ? 5 : 10">
							<nz-form-item>
								<nz-form-label nzRequired>Tipo</nz-form-label>
								<nz-form-control nzErrorTip="Informe o tipo">
									<nz-input-group style="border: 0; padding: 0">
										<nz-select
											nzMode="default"
											nzPlaceHolder="Selecione o tipo"
											nzShowSearch
											[(ngModel)]="parametersList[$index].tipo_parametro_id"
											[ngModelOptions]="{ standalone: true }"
										>
											<ng-container *ngFor="let type of typesList">
												<nz-option *ngIf="!isLoadingTypes" [nzValue]="type.id" [nzLabel]="type.nome"></nz-option>
											</ng-container>
											<nz-option *ngIf="isLoadingTypes" nzDisabled nzCustomContent>
												<span nz-icon nzType="loading" class="loading-icon"></span>
												Carregando os dados...
											</nz-option>
										</nz-select>
									</nz-input-group>
								</nz-form-control>
							</nz-form-item>
						</nz-col>

						@if (parametersList[$index].tipo_parametro_id === 2) {
							<nz-col nzSpan="5">
								<nz-form-item>
									<nz-form-label nzRequired>Quantidade de digitos</nz-form-label>
									<nz-form-control nzErrorTip="Por favor, insira a quantidade">
										<nz-input-number
											style="width: 100%"
											[nzMin]="1"
											[(ngModel)]="parametersList[$index].qtd_digitos"
											[ngModelOptions]="{ standalone: true }"
											placeholder="Digite a quantidade"
										/>
									</nz-form-control>
								</nz-form-item>
							</nz-col>
						}

						@if (parametersList[$index].tipo_parametro_id === 9) {
							<nz-col nzSpan="5">
								<nz-form-item>
									<nz-form-label nzRequired>Selecione as opções</nz-form-label>
									<nz-form-control>
										<button nz-button nzType="default" type="button" (click)="showModal($index)">
											<span nz-icon nzType="edit" nzTheme="outline"></span>
											<span>{{
												parametersList[$index].opcoes ? parametersList[$index].opcoes.length + ' item(s)' : 'Editar itens'
											}}</span>
										</button>
									</nz-form-control>
								</nz-form-item>
							</nz-col>
						}

						<nz-col nzSpan="2">
							<button type="button" nz-button nzType="link" (click)="removeParameter($index)" nzDanger style="margin-top: 32px">
								<span nz-icon nzType="delete" nzTheme="outline" nzDanger></span>
							</button>
						</nz-col>
					}
				} @else {
					<nz-col nzSpan="24">
						<nz-row nzGutter="16">
							<div nz-col nzSpan="24">
								<nz-empty [nzNotFoundContent]="null" nzNotFoundImage="simple" style="margin-bottom: -20px" />
								<nz-row nzJustify="center">
									<span style="color: rgba(0, 0, 0, 0.25)">Não há parâmetros adicionados</span>
								</nz-row>
							</div>
						</nz-row>
					</nz-col>
				}
			</nz-row>

			<div nz-row nzJustify="end" nzAlign="middle" nzGutter="16" style="margin-top: 16px">
				<div nz-col>
					<button nz-button type="button" nzType="default" (click)="goBack()">Cancelar</button>
				</div>
				<div nz-col>
					<button nz-col nz-button nzType="primary" [disabled]="!automationForm.valid" [nzLoading]="isSaving">Salvar</button>
				</div>
			</div>
		</form>
	</nz-page-header-content>
</nz-page-header>

<nz-modal [(nzVisible)]="isVisible" nzTitle="Adicionar itens" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
	<ng-container *nzModalContent>
		@if (parameterSelected) {
			@if (parametersList[parameterSelected.index].opcoes.length) {
				<nz-table
					#dynamicTable
					nzSize="small"
					[nzData]="parametersList[parameterSelected.index].opcoes"
					[nzPageSize]="20"
					[nzLoading]="isSaving"
					[nzHideOnSinglePage]="true"
				>
					<thead>
						<tr>
							<th nzAlign="center">Valor</th>
							<th nzWidth="14%" nzAlign="center" nzEllipsis>Ações</th>
						</tr>
					</thead>
					<tbody>
						@for (data of dynamicTable.data; track $index) {
								<tr>
									<td nzAlign="center">
										<input
											nz-input
											type="text"
											placeholder="Digite o valor do campo"
											[(ngModel)]="parametersList[parameterSelected.index].opcoes[$index]"
											[ngModelOptions]="{ standalone: true }"
										/>
									</td>
									<td nzAlign="center">
										<a nz-button nzType="link" nzSize="small" (click)="removeItemParameterValue($index)" nzDanger>
											<span nz-icon nzType="delete" nzTheme="outline" nzDanger></span>
										</a>
									</td>
								</tr>
						}
					</tbody>
				</nz-table>

				<nz-col nzSpan="24" style="margin-top: 16px; margin-bottom: 16px">
					<nz-row nzJustify="center">
						<button
							nz-button
							style="margin-left: 15px"
							nzType="default"
							type="button"
							nz-tooltip
							nzTooltipTitle="Adiciona um novo item"
							(click)="addItemParameterValue()"
						>
							<span nz-icon nzType="plus" nzTheme="outline"></span>
							Adicionar
						</button>
					</nz-row>
				</nz-col>
			} @else {
				<nz-col nzSpan="24">
					<nz-row nzGutter="16">
						<div nz-col nzSpan="24">
							<nz-empty [nzNotFoundContent]="null" nzNotFoundImage="simple" style="margin-bottom: -20px" />
							<nz-row nzJustify="center">
								<span style="color: rgba(0, 0, 0, 0.25)">Não há itens adicionados</span>
							</nz-row>
						</div>
						<div nz-col nzSpan="24" style="margin-top: 16px">
							<nz-row nzJustify="center">
								<button
									nz-button
									nzType="default"
									type="button"
									nz-tooltip
									nzTooltipTitle="Adiciona um novo item"
									(click)="addItemParameterValue()"
								>
									<span nz-icon nzType="plus" nzTheme="outline"></span>
									Adicionar
								</button>
							</nz-row>
						</div>
					</nz-row>
				</nz-col>
			}
		}
	</ng-container>
</nz-modal>
