<nz-page-header [nzGhost]="false" nzBackIcon>
	<nz-page-header-title>Usuários</nz-page-header-title>
	<nz-page-header-subtitle>Busque por usuários do sistema</nz-page-header-subtitle>
	<nz-page-header-extra>
		<nz-space>
			<button *nzSpaceItem nz-button nzType="primary" (click)="showModalEdit()"><span nz-icon nzType="plus" nzTheme="outline"></span>Cadastrar</button>
		</nz-space>
	</nz-page-header-extra>
	<nz-page-header-content>
		<form nz-row nzGutter="16" nzAlign="bottom" nz-form nzLayout="vertical" [formGroup]="validateForm" (ngSubmit)="submitForm()">
			<div nz-col nzSpan="20">
				<nz-form-item>
					<nz-form-label>Busca</nz-form-label>
					<nz-form-control [nzValidateStatus]="getFormControlValidationStatus('busca')">
						<input nz-input formControlName="busca" placeholder="Pesquise pelo nome ou usuário" />
					</nz-form-control>
				</nz-form-item>
			</div>

			<div nz-col nzSpan="4">
				<nz-form-item>
					<button nz-button nzType="primary">
						<span nz-icon nzType="search"></span>
						Buscar
					</button>
				</nz-form-item>
			</div>
		</form>

		<nz-table
			#usersTable
			[nzData]="page[indexPage]"
			[nzLoading]="isLoading"
			[nzShowPagination]="false"
			[nzFooter]="totalRegistros ? totalTemplate : ''"
			[nzFrontPagination]="false"
			nzSize="small"
		>
			<thead>
				<tr>
					<th>Nome</th>
					<th nzAlign="center">Automações</th>
					<th nzAlign="center">Status</th>
					<th nzAlign="center">Ações</th>
				</tr>
			</thead>
			<tbody>
				<ng-container *ngFor="let data of usersTable.data">
					<tr>
						<td>{{ data.nome }}</td>

						<td nzAlign="center">
							<button (click)="showModalLink(data)" nz-button nzType="primary" nzSize="small">
								<span nz-icon nzType="file-sync" nzTheme="outline"></span>Vincular
							</button>
						</td>

						<td nzAlign="center" [nzEllipsis]="true">
							<nz-tag *ngIf="data.ativo" nzColor="success">Ativo</nz-tag>
							<nz-tag *ngIf="!data.ativo" nzColor="default" nzMode="default">Inativo</nz-tag>
						</td>

						<td nzAlign="center">
							<a (click)="showModalInfo(data.id)"><span nz-icon nzType="eye" nzTheme="outline"></span></a>
							<nz-divider nzType="vertical"></nz-divider>
							<a (click)="showModalEdit(data.id)"><span nz-icon nzType="edit" nzTheme="outline"></span></a>
						</td>
					</tr>
				</ng-container>
			</tbody>
		</nz-table>
	</nz-page-header-content>
</nz-page-header>

<ng-template #totalTemplate>
	<div *ngIf="totalRegistros" class="total-footer">
		<div>
			<span
				>Total de usuários: <span class="total">{{ totalRegistros || 0 }}</span></span
			>
		</div>
		<nz-pagination [nzPageIndex]="indexPage" [nzTotal]="totalRegistros" [nzPageSize]="20" (nzPageIndexChange)="paginate($event)"></nz-pagination>
	</div>
</ng-template>
