<nz-page-header [nzGhost]="false" nzBackIcon>
	<nz-page-header-title>Usuários</nz-page-header-title>
	<nz-page-header-subtitle>Busque por usuários do sistema</nz-page-header-subtitle>
	<nz-page-header-extra>
		<nz-space>
			<button *nzSpaceItem nz-button nzType="primary" (click)="showModalEdit()"><span nz-icon nzType="plus" nzTheme="outline"></span>Cadastrar</button>
			<button *nzSpaceItem nz-button nz-dropdown nzType="default" [nzDropdownMenu]="report">
				Relatórios
				<span nz-icon nzType="down"></span>
			</button>
		</nz-space>

		<nz-dropdown-menu #report="nzDropdownMenu">
			<ul nz-menu>
				<li nz-menu-item>
					<a (click)="getReport('departamento')" target="_blank">Por departamento</a>
				</li>
			</ul>
		</nz-dropdown-menu>
	</nz-page-header-extra>
	<nz-page-header-content>
		<form nz-row nzGutter="16" nzAlign="bottom" nz-form nzLayout="vertical" [formGroup]="validateForm" (ngSubmit)="submitForm()">
			<div nz-col nzSm="24" nzMd="8" nzLg="8" nzXl="8" nzXXl="8">
				<nz-form-item>
					<nz-form-label>Busca</nz-form-label>
					<nz-form-control [nzValidateStatus]="getFormControlValidationStatus('busca')">
						<input nz-input formControlName="busca" placeholder="Digite o nome, e-mail ou código do usuário" />
					</nz-form-control>
				</nz-form-item>
			</div>

			<div nz-col nzSm="24" nzMd="6" nzLg="6">
				<nz-form-item>
					<nz-form-label>Cargo</nz-form-label>

					<nz-form-control>
						<nz-input-group style="border: 0; padding: 0" [nzSuffix]="shortcutCreateOcupation">
							<nz-select
								nzMode="multiple"
								nzPlaceHolder="Selecione o cargo"
								nzAllowClear
								nzShowSearch
								nzServerSearch
								formControlName="cargos"
								(nzOnSearch)="onSearchOcupation($event)"
							>
								<ng-container *ngFor="let ocupation of ocupationsList">
									<nz-option *ngIf="!isLoadingOcupation" [nzValue]="ocupation.id" [nzLabel]="ocupation.nome"></nz-option>
								</ng-container>
								<nz-option *ngIf="isLoadingOcupation" nzDisabled nzCustomContent>
									<span nz-icon nzType="loading" class="loading-icon"></span>
									Carregando os dados...
								</nz-option>
							</nz-select>
						</nz-input-group>
					</nz-form-control>

					<ng-template #shortcutCreateOcupation>
						<app-label-add-button
							permission="cargos-cadastrar"
							title="Novo Cargo"
							tooltipText="Clique para adicionar um novo cargo"
							type="ocupation"
							[onClose]="onSearchOcupation"
						/>
					</ng-template>
				</nz-form-item>
			</div>

			<div nz-col nzXs="16" nzSm="20" nzMd="4" nzLg="4">
				<nz-form-item>
					<button nz-button nzType="primary">
						<span nz-icon nzType="search"></span>
						Buscar
					</button>
				</nz-form-item>
			</div>
		</form>

		<nz-table
			#usersTable
			[nzData]="page[indexPage]"
			[nzLoading]="isLoading"
			[nzShowPagination]="false"
			[nzFooter]="totalRegistros ? totalTemplate : ''"
			[nzFrontPagination]="false"
			nzSize="small"
		>
			<thead>
				<tr>
					<th>Nome</th>
					<th>E-mail</th>
					<th>Cargo</th>
					<th nzAlign="center">Carteira</th>
					<th nzAlign="center">Status</th>
					<th nzAlign="center">Ações</th>
				</tr>
			</thead>
			<tbody>
				<ng-container *ngFor="let data of usersTable.data">
					<tr>
						<td>{{ data.pessoa.nome }}</td>
						<td [nzEllipsis]="true">{{ data.email }}</td>
						<td [nzEllipsis]="true">
							<ng-container *ngFor="let empresa of data.empresas">
								{{ empresa.cargo?.nome }}
							</ng-container>
						</td>

						<td nzAlign="center">
							<button (click)="showModalLink(data)" nz-button nzType="primary" nzSize="small">
								<span nz-icon nzType="lock" nzTheme="outline"></span>Carteira
							</button>
						</td>

						<td nzAlign="center" [nzEllipsis]="true">
							<nz-tag *ngIf="data.ativo" nzColor="success">Ativo</nz-tag>
							<nz-tag *ngIf="!data.ativo" nzColor="default" nzMode="default">Inativo</nz-tag>
						</td>

						<td nzAlign="center">
							<a (click)="showModalInfo(data.uuid)"><span nz-icon nzType="eye" nzTheme="outline"></span></a>
							<nz-divider nzType="vertical"></nz-divider>
							<a (click)="showModalEdit(data.uuid)"><span nz-icon nzType="edit" nzTheme="outline"></span></a>
						</td>
					</tr>
				</ng-container>
			</tbody>
		</nz-table>
	</nz-page-header-content>
</nz-page-header>

<ng-template #totalTemplate>
	<div *ngIf="totalRegistros" class="total-footer">
		<div>
			<span
				>Total de usuários: <span class="total">{{ totalRegistros || 0 }}</span></span
			>
		</div>
		<nz-pagination [nzPageIndex]="indexPage" [nzTotal]="totalRegistros" [nzPageSize]="20" (nzPageIndexChange)="paginate($event)"></nz-pagination>
	</div>
</ng-template>
